.ChatScreen {
    background-color: var(--primary-gray);
    min-width: 20%;
    display: flex;
    flex-direction: column;
}

.ChatHeader {
    margin: 10px;
}

.MessagesView {
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    margin-bottom:10px;
}

.MessagesView::-webkit-scrollbar {
    display: none;
  }

.Message {
    width: 75%;
}

.SenderName {
    font-size: 9pt;
}

.MessageBox {
    /* border: 1px solid black; */
    background-color: var(--primary-pink);
    color:white;
    overflow-wrap: break-word;
    /* hyphens: auto; */
    font-size: 11pt;
    border-radius: 0.25em;
    padding: 3px;
}

.MessageComposer {
    margin-top: auto;
    height: 50px;
    background-color: var(--secondary-gray);
    display: flex;
    padding: 10px;
}
.MessageForm {
    align-self: center;
    width: 100%;
    display:flex;
}
.TextInput {
    min-height: 100%;
    font-size: 11pt;
    min-width: 80%;
}
.SendButton {
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 100%;
    margin-left:auto;
}