body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colour variables */
  --primary-teal: cadetblue;
  --secondary-teal: rgb(77, 126, 128);
  --primary-pink: lightcoral;
  --secondary-pink: rgb(209, 106, 106);
  --primary-gray: #EAEAEA;
  --secondary-gray: darkgray;
  --dark-gray: rgb(102, 102, 102);
}